/* General styling */
body {
  font-family: Arial, sans-serif;
}

/* Nav styling */
.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 1000;
}

.nav button {
  background-color: transparent;
  border: 0px;
  padding: 0.5rem 1rem;
  transition: opacity 0.4s ease;
  opacity: .60;
  font-size: 1rem;
}

.nav button:hover {
  opacity: 1; /* Change opacity to 100% on hover */
}

.nav-button.active {
  opacity: 1; /* Full opacity for active button */
}

/* Indicator line styling */
.indicator {
  height: 4px;
  background-color: #FCA311;
  position: absolute;
  bottom: 0;
  transition: left 0.3s ease-out;
  width: 60px; /* Adjust as needed */
}

/* Section layout */
.section {
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Background colors */
.black {
  background-color: #000000;
  color: #FFFFFF;
}

.dark-blue {
  background-color: #14213D;
  color: #FFFFFF;
}

.light-gray {
  background-color: #E5E5E5;
  color: #000000;
}

.yellow {
  background-color: #FCA311;
  color: #000000;
}

/* Project section styling */
#projects img {
  width: 40vw;
  transition: transform 0.3s;
}

#projects img:hover {
  transform: scale(1.1);
}

/* Contact styling */
#contact ul {
  list-style-type: none;
}

#contact ul li {
  margin-bottom: 1rem;
}

#contact ul li a {
  color: #FCA311;
  text-decoration: none;
}

#contact ul li a:hover {
  text-decoration: underline;
}

.project-header, .project-section {
  font-family: 'montserrat', sans-serif;
  margin: auto;
  width: 80%;
  max-width: 960px;
}

header {
  padding: 2em 0;
  background-color: #14213D;
  color: white;
  text-align: center;
}

/* Back button styling */
.back-button {
  position: fixed; /* Fixed positioning to overlay the header */
  padding: 0.5rem 2rem;
  background-color: #FCA311;
  opacity: .8;
  color: black;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  font-size: 1.2rem;
  z-index: 1000; /* Ensures it overlays other elements */
}

.back-button:hover {
  opacity: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

li {
  padding-top: 1%;
  padding-bottom: 1%; /* Adjust the value as needed */
}

footer {
  padding: 1em 0;
  background-color: #000000;
  color: white;
  text-align: center;
  margin-top: 2em;
}