/* General styling */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

.h1-intro {
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
}


.footer-light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: start;
}

.footer-message {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: end;
}

@keyframes blink {
  50% { border-color: transparent; }
}

.horizontal-stack-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-around;
  flex-direction: row;
  column-gap: 120px;
}

.blinker-horizontal-stack {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center;
  height: 33px;
  flex-direction: row;
  line-height: 1;
}

blinker {
  border-right: 10px solid white;
  animation: blink 1s step-end infinite;
  height: 18px; 
}

 .blinker-space {
  padding-right: 1px;
  height: 20px;
}

button {
  cursor: pointer; /* This will apply the hand cursor to all buttons */
}
/* Nav styling */
.nav {
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2), /* Horizontal offset, vertical offset, blur radius, color */
    inset 0 -2px 16px rgba(255, 255, 255, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%; /* Ensures the nav bar extends full width */
  position: fixed;
  top: 0;
  background-color: #14213D;
  z-index: 1000;
}

.nav button {
  background-color: transparent;
  border: 0px;
  padding: 0.5rem 1.5rem;
  transition: opacity 0.3s ease;
  opacity: .65;
  color: #FFF;  
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.nav button:hover {
  opacity: 1; /* Change opacity to 100% on hover */
}

.nav-button.active {
  opacity: 1; /* Full opacity for active button */
}

/* Indicator line styling */
.indicator {
  height: 4px;
  background-color: #FCA311;
  position: absolute;
  bottom: 0;
  transition: left 0.3s ease-out;
  width: 60px; /* Adjust as needed */
}

/* Section layout */
.section {
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.top-spacer {
  height: 6rem;
}

.medium-spacer {
  height: 3rem;
}

.intro-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  width: 300px; /* Adjust the width and height as needed */
  gap: 20px;
}

.intro-block button {
  background-color: transparent;
  width: 200px;
  border-radius: 8px;
  border-width: 3px;
  border-color: #FCA311;
  padding: 0.5rem 0.5rem;
  transition: opacity 0.3s ease;
  opacity: .7;
  color: #FFF;  
  font-family: "Poppins", sans-serif;
  font-weight: 400; 
  font-style: normal;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.intro-block p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 4px;
}

.intro-block button:hover {
  opacity: 1; /* Change opacity to 100% on hover */
}

.image-container {
  width: 300px; /* Adjust the width and height as needed */
  height: 300px;
  overflow: hidden; /* Hide the overflowing parts of the image */
  border-radius: 50%; /* Crop the image into a circle shape */
}

.image-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove default image spacing */
}

.down-indicator-black {
  padding-bottom: 5%;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  color: #000; /* Use a color that stands out against the background */
  user-select: none; /* Prevent text selection */
  opacity: .7; 
  transition: opacity 0.2s;
  padding-top: 1rem;
}

.down-indicator-black:hover {
  opacity: 1;
}

.down-indicator-white {
  padding-bottom: 5%;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  color: #fff; /* Use a color that stands out against the background */
  user-select: none; /* Prevent text selection */
  opacity: .65;
  transition: opacity 0.2s;
  padding-top: 1rem;
}

.down-indicator-white:hover {
  opacity: 1;
}

/* Background colors */
.black {
  background-color: #000000;
  color: #FFFFFF;
}

.dark-blue {
  background-color: #14213D;
  color: #FFFFFF;
}

.light-gray {
  background-color: #E5E5E5;
  color: #000000;
}

.yellow {
  background-color: #FCA311;
  color: #000000;
}

/* Project section styling */
.portfolio-image {
  width: 35vw;
  transition: transform 0.2s;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#projects img:hover {
  transform: scale(1.05);
}

.resume-block {
  display: flex;
  flex-wrap: wrap;  
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-around;
  flex-direction: row;
  width: 50%; 
  height: 70vw;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}

#pdf-viewer {
  width: 100%;
  height: 100%;
}

.contact-section {
  height: 400px; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.h2-contact {
  margin: 0;
}

.contact-block {
  text-align: left;
  padding: 8px;
}

.horizontal-stack-contact {
  gap: 40px;
  column-gap: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  flex-direction: row;
}

.contact-image-block {
  margin-top: 24px;
  column-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: flex-start;
  flex-direction: row;
}

.contact-button-container {
  width: 60px;
  height: 50px;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 6px 0 6px 0;
  box-shadow: 6px 6px 0 #4d5970;
  background-color: #E5E5E5;
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-around;
  flex-direction: column;
  text-decoration: none; /* Underline on hover (optional) */
  color: #000;
}

#contact .contact-button-container:hover {
  transform: translate(-2px, -2px); 
  box-shadow: 8px 8px 0 #4d5970;
}

.project-header, .project-section {
  font-family: 'montserrat', sans-serif;
  margin: auto;
  width: 80%;
  max-width: 960px;
}

header {
  padding: 2em 0;
  background-color: #14213D;
  color: white;
  text-align: center;
}

/* Back button styling */
.back-button {
  position: fixed; /* Fixed positioning to overlay the header */
  padding: 0.5rem 2rem;
  background-color: #FCA311;
  opacity: .8;
  color: black;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  font-size: 1.2rem;
  z-index: 1000; /* Ensures it overlays other elements */
}

.back-button:hover {
  opacity: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

footer {
  padding: 1em 0;
  background-color: #000000;
  color: white;
  text-align: center;
  margin-top: 2em;
}

/* Fonts */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
